/* /src/styles/tokens/button.css */
/* Button Styles */
@import "../typography.css";

:root {
	/* Button Base Colors */
	--primary: oklch(0.3297 0.0579 250.8);
	--secondary: oklch(0.39 0.0576 251.2);
	--accent: oklch(0.7874 0.1715 69.12);

	/* Button Text Colors */
	--primary-text: oklch(98.463% 0.00181 249.248);
	--secondary-text: oklch(0.39 0.0576 251.2);
	--accent-text: oklch(0.7874 0.1715 69.12);

	/* Button Sizes */
	--button-size-xl: 32px;
	--button-size-lg: 28px;
	--button-size-md: 24px;
	--button-size-sm: 20px;

	/* Button Border Radius */
	--radius: 8px;
	--radius-sm: 4px;
	--radius-md: 6px;
	--radius-lg: 10px;
	--radius-xl: 12px;

	/* Button Width */
	--button-width-xl: 150px;
	--button-width-lg: 120px;
	--button-width-md: 95px;
	--button-width-sm: 85px;
	--button-width-xs: 75px;

	/* Button Shadow */
	--shadow-color: rgba(0, 0, 0, 0.1);
	--shadow-hover: rgba(0, 0, 0, 0.2);
}

/* Base Button Class */
.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	line-height: normal;
	text-transform: uppercase;
	text-decoration: none;
	transition: 0.2s ease, color 0.2s ease;
	cursor: pointer;
	border-radius: var(--radius);
	box-shadow: 0 2px 4px var(--shadow-color);
}

/* Size Variants */
.button-xl {
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 24px;
	padding-right: 24px;
	height: 32px;
	width: var(--button-width-xl);
	background-color: currentColor;
	color: currentColor;
}
.button-lg {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	height: 28px;
	width: var(--button-width-lg);
	background-color: currentColor;
	color: currentColor;
}

.button-md {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
	padding-right: 16px;
	height: 24px;
	width: var(--button-width-md);
	background-color: currentColor;
	color: currentColor;
}

.button-sm {
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 12px;
	padding-right: 12px;
	height: 20px;
	width: var(--button-width-sm);
	background-color: currentColor;
	color: currentColor;
}
.button-xs {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
	height: 16px;
	width: var(--button-width-xs);
	background-color: currentColor;
	color: currentColor;
}
/* Color Variants */
.button-primary {
	background-color: var(--primary);
	color: var(--primary-text);
}
.button-secondary {
	background-color: var(--secondary);
	color: var(--primary-text);
}

.button-accent {
	border: none !important;
	background-color: var(--accent);
	color: var(--primary-text);
}

.button-outline {
	border: none;
	background-color: transparent;
	color: var(--primary);
}
.button-outline-secondary {
	border: var(--border) 1px solid;
	background-color: transparent;
	color: var(--primary-text);
}
.button-outline-accent {
	background-color: transparent;
	color: var(--accent-text);
}
/* Interactive States */

.button:hover {
	box-shadow: var(--shadow-hover);
	transform: scale(1.05); /* Scale effect on hover */
}
.button:active {
	transform: scale(0.95); /* Scale effect on click */
}
.button:disabled {
	background-color: var(--secondary);
	color: var(--primary-text);
	cursor: not-allowed;
}
