@import "../typography.css";

:root {
    --space-xs: 8px;
    --space-sm: 16px;
    --space-md: 24px;
    --space-lg: 32px;
    --space-xl: 48px;
    --space-2xl: 60px;
}

.s_footer-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background);
    color: var(--color-foreground);
    width: 100%;
}

.c_footer-container {
    gap: var(--space-lg);
    padding: var(--space-lg) var(--space-lg);
    width: 100%;
}

._footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
    padding-inline: var(--space-lg);
    width: 100%;
}

._footer-bottom-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--space-lg) var(--space-lg) var(--space-lg) var(--space-lg) ;
    width: 100%;
    background-color: var(--color-background);
}

._footer-bottom-text {
    text-align: end;
    width: 100%;
    font-size: var(--text-sm-medium);
    color: var(--color-muted-foreground);
}
/* ===========================
 Responsive Layout System
=========================== */

@media (min-width: 320px) and (max-width: 425px) {
    ._footer-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: var(--space-sm);
    }

    ._footer-bottom-text {
        width: 100%;
        text-align: center;
        font-size: var(--text-xs-medium);
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    ._footer-content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: var(--space-sm);
        text-align: center;
    }

    ._footer-bottom-text {
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    ._footer-content {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        gap: var(--space-md);
    }
    ._footer-bottom-text {
        width: 100%;
        text-align: end;
    }
}

@media(min-width: 1025px) and (max-width: 1440px) {
    ._footer-content {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        gap: var(--space-lg);
    }
    ._footer-bottom-text {
        width: 100%;
        text-align: end;
    }
}

@media (min-width: 1441px) and (max-width: 2560px) {
    ._footer-content {
        gap: var(--space-lg);
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    }
    ._footer-bottom-text {
        width: 100%;
        text-align: end;
    }
}
