@import "../typography.css";

:root {
	--space-xs: 8px;
	--space-sm: 16px;
	--space-md: 24px;
	--space-lg: 32px;
	--space-xl: 48px;
	--space-2xl: 60px;
}

.s_footer-item-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 0;
}

.c_footer-item-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.c_footer-item-header {
	color: var(--primary);
	text-transform: uppercase;
	text-decoration: underline;
	width: 100%;
}

.c_footer-item-list {
	display: flex;
	flex-direction: column;
	list-style-type: none;
}

.c_footer-item-link {
	color: var(--secondary);
	text-decoration: none;
	transition: color 0.2s ease;
}

.c_footer-item-link:hover {
	color: var(--accent);
}

/* ===========================
 Responsive Layout System
=========================== */

@media (min-width: 320px) and (max-width: 425px) {
	.s_footer-item-wrap {
		width: 100%;
		padding: 0;
		display: flex;
		flex-direction: row;
	}

	.c_footer-item-container {
		width: 100%;
		padding: 0;
		display: flex;
		flex-direction: row;
		
	}

	.c_footer-item-content {
		width: 100%;
	}

	.c_footer-item-header {
		color: var(--primary);
		text-transform: uppercase;
		width: 100%;
		gap: var(--space-xs);
		padding: var(--space-xs) var(--space-xs) var(--space-xs) var(--space-xs);
		font-size: 12px;
		line-height: 22px;
		font-weight: 600;
	}

	/* Link List */
	.c_footer-item-list {
		width: 100%;
		gap: var(--space-xs);
		font-size: 12px;
		line-height: 22px;
	}

	.c_footer-item-link {
		color: var(--secondary);
		text-decoration: none;
		transition: color 0.2s ease;
	}
	.c_footer-item-link:hover {
		color: var(--accent);
	}
}

@media (min-width: 426px) and (max-width: 768px) {
	.s_footer-item-wrap {
		width: 100%;
		padding: 0;
		display: flex;
		flex-direction: row;
	}

	.c_footer-item-container {
		width: 100%;
		padding: 0;
	}

	.c_footer-item-header {
		color: var(--primary);
		text-transform: uppercase;
		width: 100%;
		gap: var(--space-sm);
		padding: var(--space-sm) var(--space-sm) var(--space-sm) var(--space-sm);
		font-size: 14px;
		line-height: 24px;
		font-weight: 600;
	}

	/* Link List */
	.c_footer-item-list {
		width: 100%;
		gap: var(--space-sm);
		font-size: 14px;
		line-height: 24px;
	}

	.c_footer-item-link {
		color: var(--secondary);
		text-decoration: none;
		transition: color 0.2s ease;
	}
	.c_footer-item-link:hover {
		color: var(--accent);
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.s_footer-item-wrap {
		width: 100%;
		padding: 0;
	}

	.c_footer-item-container {
		width: 100%;
		padding: 0;
	}

	.c_footer-item-header {
		color: var(--primary);
		text-transform: uppercase;
		width: 100%;
		gap: var(--space-md);
		padding: var(--space-md) var(--space-md) var(--space-md) var(--space-md);
		font-size: 16px;
		line-height: 26px;
		font-weight: 600;
	}

	/* Link List */
	.c_footer-item-list {
		width: 100%;
		gap: var(--space-md);
		font-size: 16px;
		line-height: 26px;
	}

	.c_footer-item-link {
		color: var(--secondary);
		text-decoration: none;
		transition: color 0.2s ease;
	}
	.c_footer-item-link:hover {
		color: var(--accent);
	}
}

@media (min-width: 1025px) and (max-width: 1440px) {
	.s_footer-item-wrap {
		width: 100%;
		padding: 0;
	}

	.c_footer-item-container {
		width: 100%;
		padding: 0;
		display: flex;
		flex-direction: column;
	}

	.c_footer-item-header {
		color: var(--primary);
		text-transform: uppercase;
		width: 100%;
		gap: var(--space-lg);
		padding: var(--space-lg) var(--space-lg) var(--space-lg) var(--space-lg);
		font-size: 18px;
		line-height: 28px;
		font-weight: 600;
	}

	/* Link List */
	.c_footer-item-list {
		width: 100%;
		gap: var(--space-lg);
		font-size: 18px;
		line-height: 28px;
	}

	.c_footer-item-link {
		color: var(--secondary);
		text-decoration: none;
		transition: color 0.2s ease;
	}
	.c_footer-item-link:hover {
		color: var(--accent);
	}
}

@media (min-width: 1441px) and (max-width: 2560px) {
	.s_footer-item-wrap {
		width: 100%;
		padding: 0;
	}

	.c_footer-item-container {
		width: 100%;
		padding: 0;
	}

	.c_footer-item-header {
		color: var(--primary);
		text-transform: uppercase;
		width: 100%;
		gap: var(--space-lg);
		padding: var(--space-lg) var(--space-lg) var(--space-lg) var(--space-lg);
		font-size: 18px;
		line-height: 28px;
		font-weight: 600;
	}

	/* Link List */
	.c_footer-item-list {
		width: 100%;
		gap: var(--space-lg);
		font-size: 18px;
		line-height: 28px;
	}

	.c_footer-item-link {
		color: var(--secondary);
		text-decoration: none;
		transition: color 0.2s ease;
	}
	.c_footer-item-link:hover {
		color: var(--accent);
	}
}
