@import "../typography.css";

:root {
    --space-xs: 8px;
    --space-sm: 16px;
    --space-md: 24px;
    --space-lg: 32px;
    --space-xl: 48px;
    --space-2xl: 60px;
}

.s_footer-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background);
    color: var(--color-foreground);
    width: 100%;
}

.c_footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-md);
    padding: var(--space-md) var(--space-sm);
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
}

._footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
    padding-inline: var(--space-sm);
    width: 100%;
}

._footer-bottom-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--space-lg) var(--space-sm);
    width: 100%;
    background-color: var(--color-background);
}

._footer-bottom-text {
    text-align: end;
    width: 100%;
    font-size: var(--text-sm-medium);
    color: var(--color-muted-foreground);
}

/* Responsive Media Queries */
@media (max-width: 420px) {
    ._footer-content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: var(--space-sm);
        text-align: center;
    }

    ._footer-bottom-text {
        text-align: center;
    }
}

@media (max-width: 768px) {
    ._footer-content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: var(--space-sm);
        text-align: center;
    }

    ._footer-bottom-text {
        text-align: center;
    }
}

@media (max-width: 1024px) {
    ._footer-content {
        gap: var(--space-md);
    }
}

@media (max-width: 1440px) {
    ._footer-content {
        gap: var(--space-lg);
    }
}

@media (max-width: 2560px) {
    ._footer-content {
        gap: var(--space-2xl);
    }
}
