@import "../typography.css";

:root {
	--space-xs: 8px;
	--space-sm: 16px;
	--space-md: 24px;
	--space-lg: 32px;
	--space-xl: 48px;
	--space-2xl: 60px;
}

header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 50;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 60px;
	width: 100%;
	background-color: oklch(1 0 0 / 0.8);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border-bottom: 1px solid var(--color-border);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
}

.s_header-wrap {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.c_header-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.c_header-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
}

._brand-link {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	width: 100%;
	height: 100%;
}

._header-logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	object-fit: cover;
	height: 40px;
	width: fit-content;
}

._nav-wrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

._mobile-nav-wrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

/* ===========================
 Responsive Layout System
=========================== */
@media (min-width: 1441px) and (max-width: 2560px) {
	.s_header-wrap {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	.c_header-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	.c_header-content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	._brand-link {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		width: 100%;
		height: 100%;
	}

	._header-logo {
		display: flex;
		flex-direction: row;
		align-items: center;
		object-fit: cover;
		height: 40px;
		width: fit-content;
	}

	._nav-wrap {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}

	._mobile-nav-wrap {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}
}

@media (min-width: 768px) and (max-width: 1440px) {
}

@media (min-width: 426px) and (max-width: 767px) {
}

@media (min-width: 320px) and (max-width: 425px) {
}
