/* Navigation Styles */
.navMenu {
	display: flex;
	gap: 16px;
	width: 100%;
	height: 100%;
}

.navMenuList {
	display: flex;
}

.navMenuItem {
	list-style: none;
}

.navMenuLink {
	display: flex;
	align-items: center;
	transition-duration: 0.15s;
}

.navMenuLink:hover {
	color: var(--color-accent);
	transition: color 0.15s ease-in-out;
}
.navMenuLink:focus {
	color: var(--color-accent);
	transition: color 0.15s ease-in-out;
}

 /* Navigation (Desktop) */
  .desktop-nav {
    display: none;
  }

  @media (min-width: 768px) {
    .desktop-nav {
      display: flex;
      gap: 1.5rem; /* 24px */
    }
  }

  /* Mobile menu container */
  .mobile-nav {
    display: flex;
  }

  @media (min-width: 768px) {
    .mobile-nav {
      display: none;
    }
  }