:root {
	--space-xs: 8px;
	--space-sm: 16px;
	--space-md: 24px;
	--space-lg: 32px;
	--space-xl: 48px;
	--space-2xl: 60px;
}

.page-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}


@media (min-width: 1441px) and (max-width: 2560px) {
.page-container {
		max-width: 2560px;
		min-width: 1441px;
		width: 100%;
		padding: 0;
	}
}
@media (min-width: 1025px) and (max-width: 1440px) {
	.page-container {
		max-width: 1440px;
		min-width: 1025px;
		width: 100%;
		padding: 0;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.page-container {
		max-width: 1024px;
		width: 100%;
		padding: 0;
	}
}

@media (min-width: 426px) and (max-width: 768px) {
	.page-container {
		max-width: 768px;
		min-width: 426px;
		width: 100%;
		padding: 0;
	}
}


@media (min-width: 320px) and (max-width: 425px) {
	.page-container {
		max-width: 425px;
		min-width: 320px;
		width: 100%;
		padding: 0;
	}
}

