/* /src/styles/tokens/pricing-card.css */
/* Pricing Card Styles */
@import "../typography.css";

.pricing-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--glass-card);
  border-radius: var(--radius);
  box-shadow: var( );
  width: 100%;
  max-width: 400px;
  padding: 32px; /* p-8 */
  gap: 24px;
}
.pricing-card.featured {
  border: 2px solid var(--accent);
  box-shadow: var(--shadow-lg);
}

@media (min-width: 640px) {
  .pricing-card {
    padding: 40px; /* sm:p-10 */
  }
}

.pricing-card-header {
  display: flex;
  padding: 40px 32px 0px 32px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

/* Price */
.pricing-card-price {
  max-height: 60px; /* h-15 */
  align-self: stretch; /* w-full */
}

.pricing-card-price-value {
  text-align: center;
  font: var(--heading-lg-semibold); /* text-3xl font-semibold */
}

.pricing-card-price-heading-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.pricing-card-heading {
  align-self: stretch; /* w-full */
  text-align: center;
  font: var(--text-xl-semibold); /* text-2xl font-semibold */
}

.pricing-card-subtext {
  text-align: center;
  font: var(--text-md-regular); /* text-lg font-regular */
  color: var(--color-muted-foreground);
}

/* Body/Content */
.pricing-card-content {
  display: flex;
  padding: 32px 32px 40px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.pricing-card-content-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.pricing-card-content-items {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

@media (min-width: 640px) {
  .pricing-card-content-items {
    margin-top: 40px; /* sm:mt-10 */
  }
}

.pricing-card-content-item-icon {
  width: 24px;
  height: 24px;
  fill: var(--accent);
}

.pricing-card-content-item-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  font: var(--text-md-regular); /* text-md font-regular */
  color: var(--color-muted-foreground);
}

/* Footer Content */
.pricing-card-footer {
  display: flex;
  padding: 0px 32px 32px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.pricing-card-footer-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.pricing-card-footer-action {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  border-radius: var(--radius);
}